 * {
 	margin:0;
 	padding: 0;
 }
 /* Estilos genrales*/
 .boton {
 	background: #7f8c8d;
 	color: #fff;
 	display: inline-block;
 	font-size:20px;
 	margin: 20px;
 	padding: 10px 0px;
 	text-align: center;
 	width: 200px; 
 	text-decoration: none;
 	box-shadow: 0px 3px 0px #373c3c;
 }

 .boton span {
 	margin-right: 10px;
 }

/*Tamaños*/
.boton.blue {
	background: #3498db;
	box-shadow: 0px 3px 0px #2E2EFE;
}

.boton.amarillo {
	background: #F4FA58;
	box-shadow: 0px 3px 0px #FFBF00;
}

/* Tamaños*/
.boton.medio {
	width: 450px;
}

.boton.largo {
	width: 550px;
}

/*Efectos en los tamaños*/
.boton.radio {
	border-radius: 50px;
}
.boton:hover {
	box-shadow: 0px 0px 0px;
	padding: 7px;
}

/*
  div {
	width:250px;
	height:250px;
	background:#58FAF4;
	color:#fff;
	font-size:30px;
	float:left;
}

.caja1 {
	background:#0B3B0B;
	width: 800px;
	height: 150px;	
	background: fff;
	position: relative;
	left:300px;
}

.caja2 {
	background:#0B3B0B;
	position:absolute;
	top:250px;
	bottom: 0;
	right:0 ;
	left:400px;
}

.caja3 {
	background:#0B3B0B;
	position:absolute;
	top:250px;
	bottom: 0;
	right:0 ;
	left:750px;
}
.caja4 {
	background:#0B3B0B;
	position:absolute;
	top:600px;
	bottom: 0;
	right:0 ;
	left:400px;
}

.caja5 {
	background:#0B3B0B;
	position:absolute;
	top:600px;
	bottom: 0;
	right:0 ;
	left:750px;
}

.caja6 {
	position:fixed;
	top:100px;
	bottom: 0;
	right:0 ;
	left:300px;
}
.caja7 {
	position:fixed;
	top:100px;
	bottom: 0;
	right:0 ;
	left:300px;
}
.caja8 {
	background: #FFFF00;
	position:fixed;
	top:100px;
	bottom: 0;
	right:0 ;
	left:300px;
}
*/